@import url(base.css);
.shangbu {
  width: 100%;
  height: 3.53rem;
  background: url("../img/toububj.png") no-repeat;
  background-size: 100%;
  overflow: hidden; }

nav {
  color: white;
  margin-top: 0.64rem;
  text-align: center;
  line-height: 0.34rem;
  width: 100%;
  height: 0.34rem;
  font-size: 0.34rem;
  position: relative; }

.back {
  width: 0.34rem;
  height: 0.34rem;
  position: absolute;
  top: 0;
  left: 0.24rem; }

.icon-fanhui2 {
  display: block;
  color: #fff;
  width: 0.34rem;
  height: 0.34rem; }

.main {
  position: absolute;
  top: 1.45rem;
  left: 0.24rem;
  width: 7.02rem;
  height: 11.53rem;
  background: #fff;
  padding: 0.54rem 0.28rem 0.97rem 0.28rem;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 0 0.08rem 0.05rem #f2def6; }

li {
  width: 3.02rem;
  height: 3.02rem;
  border-radius: 0.08rem;
  box-shadow: 0 0 0.08rem 0.05rem pink; }

.content {
  margin: 0.53rem auto;
  width: 1.86rem; }

.content_text {
  font-size: 0.24rem;
  margin: 0.2rem auto 0; }
