@import url(base.css);
header{
  width:100%;
  height:0.4rem;
  background: #fe3190;
  img{
    width:7.5rem;
    height:4.8rem;
  }
}
body{



}
.navigation{
  width:100%;
  height:0.88rem;
  background: #fe3190;
  .return{
    display: block;
    width:0.44rem;
    height:0.88rem;
    position: relative;
    margin-left: 0.24rem;
    float: left;
    .icon-fanhui2{
      color:#fff;
      position: absolute;
      top:0.28rem;
      left:0;
      font-size:0.4rem;
    }
  }
  .rklist{
    width:2.36rem;
    height:100%;
    float: left;
    font-size: 0.36rem;
    color:#fff;
    text-align: center;
    line-height: 0.88rem;
    margin-left: 1.9rem;
    font-weight: bold;

  }
}
.option{
  width:100%;
  height:0.52rem;
  background: #fe3190;
  .iwidth{
    width:7.02rem;
    height:0.52rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .iwidth1{
      display: block;
      width:1.02rem;
      height:0.52rem;
      font-size:0.24rem ;
      color:#fff;
      position: relative;
      line-height: 0.52rem;
      .span{
        margin-left: 0.3rem;
      }
      .icon-quantequanb{
        color:#fff;
        position: absolute;
        top:0rem;
        left:0;
        font-size:0.4rem;
      }
    }
    .iwidth1:nth-child(2){
      padding-left: 0.45rem;
      box-sizing: border-box;
      line-height: 0.52rem;
    }
    .iwidth1:nth-child(3){
      text-align: center;
    }
  }
}
.option1{
  width:100%;
  height:0.6rem;
  background: #fe3190;
  .option2{
    width:7.02rem;
    height:0.6rem;
    margin: 0 auto;
    display: flex;
    .MonthlyRanking{
      width:2.22rem;
      height:0.6rem;
      font-size:0.26rem ;
      color: #000;
      text-align: center;
      line-height: 0.6rem;
      background: #fff;
      border-top-left-radius: 0.08rem;
      border-bottom-left-radius: 0.08rem;
    }
    .SeasonRanking{
      width:2.56rem;
      height:0.6rem;
      font-size:0.26rem ;
      color: #fff;
      text-align: center;
      line-height: 0.6rem;

      border-top:0.02rem solid #fff;
      border-bottom: 0.02rem solid #fff;
      box-sizing: border-box;
    }
    .AnnualRanking{
      width:2.24rem;
      height:0.6rem;
      font-size:0.26rem ;
      color: #000;
      text-align: center;
      line-height: 0.6rem;
      background: #fff;
      border-top-right-radius: 0.08rem;
      border-bottom-right-radius: 0.08rem;
    }
  }
}
.wheel{
  width:100%;
  height:3.75rem;

  padding-top: 0.2rem;
  box-sizing: border-box;
  .wheelmap{
    width:5.02rem;
    height:3.18rem;
    background: #fff;
    border-radius: 0.1rem;
    margin:0 auto;
    padding: 0.03rem;
    box-sizing: border-box;
    position: relative;
    img{
      width:4.96rem;
      height:3.12rem;
    }
    .inputv{
      width:4.58rem;
      height:0.65rem;
      background:#fff ;
      border-radius: 0.5rem;
      position: absolute;
      bottom:0.2rem;
      left:0.2rem;
      input{
        display: block;
        float: left;
        width:3.63rem;
        height:0.65rem;
        border:none;
        background:#fff ;
        border-top-left-radius:0.5rem ;
        border-bottom-left-radius:0.5rem ;
        outline: none;
        padding-left: 0.3rem;
        box-sizing: border-box;
      }
      .inputz{
        float: left;
        width:0.95rem;
        height:0.65rem;
        background: #fe3191;
        border-top-right-radius:0.5rem ;
        border-bottom-right-radius:0.5rem ;
        border:0.02rem solid #fff;
        border-left:none;
        box-sizing: border-box;
        position: relative;
        .icon-jiahao3{
          color:#fff;
          font-size:0.4rem;
          position: absolute;
          top:0.12rem;
          left:0.25rem;
        }
      }
    }


  }
}
.information{
  width:7.02rem;
  height:1.53rem;
  margin:0 auto;
  border-bottom:0.01rem dashed #b7b7b7;
  .informimg{
    width:1.55rem;
    height:1.53rem;
    float: left;
    img{
      width:1.55rem;
      height:1.52rem;
    }

  }
  .informs{
    width:3.24rem;
    height:1.53rem;
    float: left;
    padding-top: 0.45rem;
    box-sizing: border-box;
    p{
      font-size: 0.26rem;
      color: #58606d;
      span{
        font-size: 0.24rem;
        color: #cecece;
        line-height: 0.4rem;
      }
    }
  }
}